{% extends "base.html" %}
{% block title %}
<meta charset="utf-8">
<title> CashFlow | Welcome</title>
<meta name="viewport" content="width = device width">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}


{% block header %}
<div class="container">
    <div id="branding">
        <h1><span class="highlight">Cash</span> Flow</h1>
    </div>
    <nav>
        <ul>
            <li class="current"> <a href="{{ url_for('home') }}">Home</a></li>
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% else %}
            {% if current_user.username == 'bibah' %}
            <li><a href="{{ url_for('admin') }}">Admin Page</a></li>
            {% endif %}
            <li><a href="{{ url_for('output') }}">Profile Page</a></li>
            <li><a href="{{ url_for('comparison') }}">Comparison Page</a></li>
            <li><a href="{{ url_for('input_page') }}">Input Page</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}


        </ul>
    </nav>
</div>
{% endblock %}
{% block body %}
<section id="showcase">
    <img src="{{background}}">
    <div class="container">
        <h1>Where You Save Money</h1>
        <p>Cash Back Reward is a tool for you to earn money for what you buy every day. Many credit cards offer flat
            cash back for all purchases, while others will offer higher rate on rotating categories like dining,
            shopping, or gas. If you are still debating which is best, CashFlow will help you to find a card that
            aligns your spending habits. </p>
    </div>

<section id="button1">

    <div class="container">
        <form>
            <button type="menu" class="button_1">
                <a href="{{ url_for('login') }}">Get Started</a></button>


            <p style="text-align: center;"> Already using CashFlow? <a id="signIn" href="{{ url_for('register') }}">Sign
                    in.</a></p>
        </form>
    </div>
</section>
</section>

<section id="boxes">
    <div class="container">
        <div class="box">
            <a href="https://creditcards.chase.com/freedom-credit-cards/unlimited">
                <img src="{{logo1}}">
            </a>
            <h2>Chase Freedom Unlimited</h2>
            <p>$150 bonus after you spend $500 on purchases in your first 3 months from account opening</p>
        </div>
        <div class="box">
            <a href="https://www.bankofamerica.com/credit-cards/products/cash-back-credit-card/">
                <img src="{{logo2}}">
            </a>
            <h2>Bank of America Cash Rewards </h2>
            <p>$200 cash rewards bonus after making at least $1,000 in purchases in the first 90 days from account
                opening</p>
        </div>
        <div class="box">
            <a
                href="https://citicards.citi.com/usc/LPACA/Citi/Cards/DoubleCash/ps_A/index.html?cmp=KNC~01~110901~CRDACQXX~Google&gclid=Cj0KCQiAz53vBRCpARIsAPPsz8U4G7x7LC5V-24vfcEWe_Y4xePZlgWuytazHCqe8tJmvMm1HnHT8eYaAnFAEALw_wcB&gclsrc=aw.ds&BT_TX=1&ProspectID=F72D203FB454472781A04E01B8BCC6DC">
                <img src="{{logo3}}">
            </a>
            <h2>Citi Double Cash Card</h2>
            <p> Earn 2% cash back on purchases 1% when you buy and 1% as you pay. No categories, caps or annual fee
            </p>
        </div>
    </div>
</section>
<footer>
    <p>Cash Flow , Copyright &copy; 2019</p>
</footer>


{% endblock %}