<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cash Flow | Data Input</title>
    <!-- Import your css file here -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
   
    <div class="container">
        <div class="data row">
            <div id="mainheader">
                <h4> Cash Flow | Data Input </h4>
                <!-- Fill in FORM -->
                <form>
                    <div class="row">
                        <div class="form-group col-md-50">
                            <label>Enter your current credit card </label>
                            <input class="form-control" type="text">
                        </div>

                        <!--<div class="form-group col-md-6">
                            <label>Last name</label>
                            <input class="form-control" type="text">
                        </div> -->
                    </div>
                  <br>
                    <div class ="row">
                        <div class="form-group col-md-50">
                            <label>Online Purchase Estimate</label>
                            <input type class="form-control" type="text" placeholder="$0000.000">
                           
                        </div>
                    <ul>
                    <ul>
                    <ul>
                    
                        <div class="form-group col-md-50">
                            <label>Cash Back Percentage</label>
                            <input type class="form-control" type="text" placeholder="Estimate %">
                        </div>
                    </div>
                   
                     <div class ="row">
                        <div class="form-group col-md-50">
                            <label>Travel Purchase Estimate</label>
                            <input type class="form-control" type="text" placeholder="$0000.000">
                           
                        </div>
                    <ul>
                    <ul>
                    <ul>
                        <div class="form-group col-md-50">
                            <label>Cash Back Percentage</label>
                            <input type class="form-control" type="text" placeholder="Estimate %">
                        </div>
                    </div>
                    
                     <div class ="row">
                        <div class="form-group col-md-50">
                            <label>Auto Purchase Estimate</label>
                            <input type class="form-control" type="text" placeholder="$0000.000">
                           
                        </div>
                    <ul> 
                    <ul>
                    <ul>
                        <div class="form-group col-md-50">
                            <label>Cash Back Percentage</label>
                            <input type class="form-control" type="text" placeholder="Estimate %">
                        </div>
                    </div>
                      
                      
                    <br>
                    <button type="button" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary">Cancel</button>
                </form>
            </div>

    

        </div>
    </div>

</body>

</html>
