<!--{% extends "base.html" %} {% block title %}
<title>CashFlow - Sign Up</title>
{% endblock %} {% block body %}
<h1>Log in</h1>
<form>
  <p>{{ form.username.label }} {{ form.username(size = 32) }}</p>
  <p>{{ form.email.label }} {{ form.email(size = 32) }}</p>
  <p>{{ form.password.label }} {{ form.password(size = 32) }}</p>
  <p>{{ form.confirm.label }} {{form.confirm(size = 32) }}</p>
  <p>{{ form.accept_tos() }} {{ form.accept_tos.label }}</p>
</form>
{% endblock %} -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_signup.css') }}" >
  <title>Cash Flow Sign Up</title>
</head>
<body>
<div class="signup">
  <h1>Cash Flow Registration</h1>
  <form method="post" action="">
    <p><input type="text" name="signup" value="" placeholder="Email"></p>
    <p><input type="text" name="signup" value="" placeholder="Username"></p>
    <p><input type="password" name="password" value="" placeholder="Password"></p>
    <p class="remember_me">
      <label>
        <input type="checkbox" name="remember_me" id="remember_me">
        Remember me
      </label>
    </p>
    <p class="submit"><input type="submit" name="commit" value="Sign Up"></p>
  </form>
</div>

  <!--
<div class="login-help">
  <p>Don't have an account? <a href="#">Click here to Register</a>.</p>
</div> -->
</body>
</html>